@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

/*font-family: 'Exo', sans-serif;*/

body {
    display: flex;
}

.left-side {
    display: flex;
    align-items: end;
    width: 35vw;
    height: 100vh;
    background-image: url('eleonora-patricola-akYViZ6nmIA-unsplash.jpg');
    background-size: cover;
    border: 1px solid red;
}

.photo-credits, .photo-credits * {
    color: white;
    font-size: 13px;
}

.right-side {
    width: 65vw;
    height: 100vh;
    border: 1px solid blue;
}

.right-top {
    background-color: rgb(240, 234, 234);
    height: 40%;
}

.right-middle {
    height: 40%;
}

.right-bottom {
    height: 20%;
}