@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

/*font-family: 'Exo', sans-serif;*/

body {
    display: flex;
    margin: 0;
    font-family: 'Exo', sans-serif;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 35vw;
    height: 100vh;
    background-image: url('eleonora-patricola-akYViZ6nmIA-unsplash.jpg');
    background-size: cover;
}

.left-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 150px;
    width: 35vw;
    height: 20%;
    background-color: rgb(0,0,0,0.3);
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 40px;
}

.left-sidebar img {
    max-width: 100%;
    max-height: 100%;
    
}

.photo-credits * {
    position: relative;
    bottom: 0px;
    color: white;
    font-size: 13px;
}

.right-side {
    width: 65vw;
    height: 100vh;
}

.right-top {
    background-color: rgb(240, 234, 234);
    height: 30%;
}

.right-middle {
    height: 40%;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0px 4px #c3c5ca;
}

.right-middle p {
    margin-left: 30px;
    margin-top: 0px;
}

.form-row {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-bottom: 20px;
}

.form-column {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

label {
    font-size: 12px;
    letter-spacing: 2px;
}

input {
    border: 0.5px solid #E5E7EB;
    border-radius: 4px;
    margin-right: 60px;
    font-size: 16px;
    padding: 4px;
}

input:focus {
    outline: none;
    border: 0.5px solid blue;
    box-shadow: 2px 2px #c3c5ca;
}

.right-bottom {
    height: 30%;
}